.container {
  @apply flex flex-col overflow-hidden;
}

.buttonsWrapper {
  @apply flex w-full bg-neutral-100 px-6 dark:bg-neutral-900;
}

.button {
  @apply flex max-w-[33.33%] flex-1 -skew-x-6 flex-wrap items-center justify-center gap-x-3 gap-y-2 px-2 py-3 text-sm outline-none ring-inset ring-orange-500/50
  transition focus-visible:ring-2;

  &:not(.buttonActive):hover,
  &:not(.buttonActive):focus-visible {
    @apply !bg-neutral-100/50;
  }

  &:disabled {
    @apply cursor-not-allowed text-neutral-400;
  }
}

.buttonContentWrapper {
  @apply skew-x-6;
}

.buttonActive {
  @apply !bg-white text-orange-400 dark:!bg-neutral-800;
  -webkit-text-stroke: 0.045rem currentColor;
  text-stroke: 0.045rem currentColor;
}

.contentWrapper {
  @apply grid bg-white pb-6 pt-3 dark:bg-neutral-800;
}

.content {
  @apply px-6 outline-none ring-orange-500/50 focus-visible:ring-2;

  grid-area: 1 / 1 / 1 / 1;
}
