.container {
  --box-shadow: 0 50vh 0 25vh theme('colors.neutral.100');

  @apply flex flex-col bg-neutral-100 rounded-t fixed bottom-0 w-full min-h-[80vh] z-10;
  box-shadow: var(--box-shadow);

  &::before {
    @apply content-[''] block absolute rounded-sm left-1/2 -translate-x-1/2 -top-1 w-32 h-1 -my-2 bg-white/50;
  }

  @screen lg {
    --box-shadow: 50vw 0 0 25vw theme('colors.neutral.100');

    @apply right-0 max-w-xl min-h-screen;

    &::before {
      @apply top-1/2 -left-1 rotate-90 -mx-2 my-0;
    }
  }

  @screen xl {
    @apply max-w-4xl;
  }
}

.titleWrapper {
  @apply flex items-center gap-2 px-4 bg-white rounded-t;
}

.title {
  @apply text-lg;
}

.contentWrapper {
  @apply flex-1 relative overflow-hidden;
}

.backdrop {
  @apply absolute inset-0 w-full h-full bg-black/50;
}
