.container {
  --box-shadow-position: 0 50vh;

  @apply fixed bottom-0 z-10 flex h-screen
    w-full flex-col rounded-t bg-neutral-100;
  box-shadow: var(--box-shadow-position) 0 25vh theme('colors.neutral.100');

  &::before {
    @apply absolute -top-1 left-1/2 -my-2 block h-1 w-32 -translate-x-1/2 rounded-sm bg-white/50 content-[''];
  }

  @screen lg {
    --box-shadow-position: 50vw 0;

    @apply right-0 min-h-screen max-w-xl;

    &::before {
      @apply -left-1 top-1/2 -mx-2 my-0 rotate-90;
    }
  }

  @screen xl {
    @apply max-w-4xl;
  }
}

.headerWrapper {
  @apply flex h-16 items-center gap-2 bg-white px-4;
  box-shadow: 50vw 0 0 0 theme('colors.white');
}

.title {
  @apply text-lg;
}

.contentWrapper {
  @apply relative flex-1 overflow-x-hidden overflow-y-scroll;
}

.backdrop {
  @apply absolute inset-0 h-screen w-screen bg-black/50;
}

.contextButton {
  @apply -ml-4 flex size-16 items-center justify-center transition;

  &:hover,
  &:focus-visible {
    @apply bg-neutral-200;
  }

  svg {
    @apply h-6 w-6;
  }
}
