.container {
  --box-shadow: 0 50vh 0 25vh theme('colors.neutral.100');

  @apply fixed bottom-0 z-10 flex min-h-[80vh] w-full flex-col rounded-t bg-neutral-100;
  box-shadow: var(--box-shadow);

  &::before {
    @apply absolute -top-1 left-1/2 -my-2 block h-1 w-32 -translate-x-1/2 rounded-sm bg-white/50 content-[''];
  }

  @screen lg {
    --box-shadow: 50vw 0 0 25vw theme('colors.neutral.100');

    @apply right-0 min-h-screen max-w-xl;

    &::before {
      @apply -left-1 top-1/2 -mx-2 my-0 rotate-90;
    }
  }

  @screen xl {
    @apply max-w-4xl;
  }
}

.titleWrapper {
  @apply flex items-center gap-2 rounded-t bg-white px-4;
}

.title {
  @apply text-lg;
}

.contentWrapper {
  @apply relative flex-1 overflow-hidden;
}

.backdrop {
  @apply absolute inset-0 h-full w-full bg-black/50;
}
